<%- include('nav.ejs') %>
<h2><%= data %></h2>
<div class="mt-2 w-full flex justify-center">
  <form action="" method="post" class="flex">
    <input
      type="text"
      class="w-[500px] h-8 rounded-s-xl pl-5"
      placeholder="Cari Product"
    />
    <button type="submit" class="px-7 bg-blue-700 h-8 rounded-e-xl">
      Cari
    </button>
  </form>
</div>
<div class="w-[80%] min-h-screen"></div>

<div class="w-full h-[400px] bg-slate-400"></div>
