<div
  style="width: 500px; margin-left: auto; margin-right: auto; margin-top: 70px"
>
  <form action="/login" method="post">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        placeholder="Masukkan Email Anda"
        name="email"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Masukkan Password Anda"
        name="password"
      />
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 30px">
      Login
    </button>
    <a
      href="/"
      class="btn btn-danger"
      style="margin-top: 30px; margin-left: 345px"
      >Kembali</a
    >
  </form>
</div>
