<%- include('nav.ejs') %>
<div
  class="mt-16 mx-auto w-[500px] h-[450px] border-2 border-slate-100 flex justify-center rounded-3xl"
>
  <form action="/login" method="post" class="mt-10">
    <div class="mt-7">
      <label for="email" class="text-xl">Email address</label>
      <input
        type="email"
        class="flex justify-end w-[400px] h-10 text-xl mt-4 border rounded-full border-slate-800 pl-4"
        id="email"
        aria-describedby="emailHelp"
        placeholder="Masukkan Email Anda"
        name="email"
      />
      <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="mt-7">
      <label for="password" class="text-xl">Password</label>
      <input
        type="password"
        class="flex justify-end w-[400px] h-10 text-xl mt-4 border rounded-full border-slate-800 pl-4"
        id="password"
        placeholder="Masukkan Password Anda"
        name="password"
      />
    </div>
    <p class="mt-5">
      Belum punya akun silahkan
      <a href="/register" class="text-blue-600 font-bold">Sing Up</a>
    </p>
    <div class="w-full flex justify-center mt-14">
      <button
        type="submit"
        class="mx-auto px-14 py-2 border rounded-full bg-blue-700 text-slate-100"
      >
        Login
      </button>
    </div>
  </form>
</div>
