<nav>
  <div
    style="width: 100%; height: 90px; background-color: lightblue"
    class="navbar"
  >
    <div style="font-size: x-large">Shoop</div>
    <ul style="display: flex; list-style: none; font-size: large">
      <% if (data) { %>
      <li>
        <a href="/logout"><span>Log Out</span></a>
      </li>
      <% }else{ %>
      <li>
        <a href="/login"><span>Login</span></a>
      </li>
      <li>
        <a href="/register"><span>Sing Up</span></a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
