<div
  style="width: 500px; margin-left: auto; margin-right: auto; margin-top: 70px"
>
  <form action="/register" method="post">
    <div class="mb-3">
      <label for="usernsme" class="form-label">usernsme</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        placeholder="username"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        name="email"
        placeholder="email"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="password"
      />
    </div>
    <div class="mb-3">
      <label for="konfirmasi" class="form-label">Konfirmasi</label>
      <input
        type="password"
        class="form-control"
        id="konfirmasi"
        name="konfirmasi"
        placeholder="konfirmasi"
      />
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 30px">
      Register
    </button>
    <a
      href="/"
      class="btn btn-danger"
      style="margin-top: 30px; margin-left: 325px"
      >Kembali</a
    >
  </form>
</div>
