<div class="" style="margin-top: 120px">
  <div>
    <label for="exampleFormControlInput1">Nama Product</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" />
  </div>
  <div>
    <label for="exampleFormControlInput1">Harga Product</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" />
  </div>
  <div>
    <label for="exampleFormControlInput1">Stock</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" />
  </div>
  <div>
    <label for="exampleFormControlTextarea1">Deskribsi</label>
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
    ></textarea>
  </div>
</div>
